services:
  db:
    restart: always
    image: mysql:8.0.39
    # DBのレコードが日本語だと文字化けするので、utf8mb4をセットする
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - type: volume
        source: mysqldata
        target: /var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_DATABASE_PASSWORD}
      TZ: "Asia/Tokyo"
    ports:
      - '3305:3306'
  webapp:
    #buildの"."はカレント(.)にあるDockerfileを参照してbuildしろということ
    build: .
    env_file:
      - .env
    #本番環境用コマンド(production)
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec puma -C config/puma.rb"
    volumes:
      - type: bind
        source: ./n_app
        target: /n_app
      - type: volume
        source: gemdata
        target: /usr/local/bundle
      - type: volume
        source: node_modules
        target: /n_app/node_modules
    ports:
      - "3000:3000"
    depends_on:
      - db
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: production
      MYSQL_PASSWORD: ${MYSQL_DATABASE_PASSWORD}
      TZ: "Asia/Tokyo"
volumes:
  gemdata:
  node_modules:
  mysqldata:

