body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
}

.search-form .form-control {
  margin-right: 10px;
}

.posts-entry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-entry {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.fixed-height-image {
  max-height: 200px;
  max-width: 100%;
  height: auto;
  width: auto;
  
}

.content {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.author {
  margin-top: 5px;
}

.read-more {
  margin-top: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}