//index.html.erb
.activities-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;

  .activities-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .activity-search-input {
      width: 200px;
      height: 38px;
      margin-right: 10px;
      padding: 6px 12px;
      border-radius: 5px;
      border: 2px solid #dee2e7;

      &:focus {
        box-shadow: 0 0 8px #72cefc;
      }
    }

    .activity-search-button {
      width: 76px;
      height: 38px;
      background-color: white;
      border: 2px solid #0c6efc;
      color: #0c6efc;
      border-radius: 5px;
      padding: 6px 12px;
      transition: color 0.5s, background-color 0.5s;

      &:hover {
        background-color: #0c6efc;
        color: white;
      }
    }
  }

  .activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;

    .activity-area {
      color: inherit;
      display: flex;
      flex-direction: row;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      box-sizing: border-box;
      transition: box-shadow 0.3s;
      height: 225px;
      width: 100%;
      max-width: 1000px;
      margin-bottom: 20px;
      position: relative;
      background-color: white;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .activity-link-sheet {
        inset: 0;
        position: absolute;
      }

      .image-container {
        flex: 0 0 30%;
        margin-right: 20px;
        display: flex;
        justify-content: center;

        .image-field {
          max-height: 180px;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }

      .activity-info {
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: calc(100% - 220px);
        padding-top: 20px;
        height: 100%;

        .activity-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;
        }
      }


      .author {
        position: absolute;
        bottom: 0;
        margin-bottom: 25px;
      }
    }

    .activity-area-smartphone {
      display: none;
    }
  }
}

//show.html.erb
.activity-container {
  width: 820px;
  margin: 15px auto;
  padding: 32px 56px;
  border-radius: 8px;
  box-shadow: 0 0 15px #444444;
  background-color: white;

  .author {
    margin: 10px 0;
    display: flex;
    align-items: center;
    height: 40px;

    .author-icon {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      object-fit: cover;
    }

    .author-name {
      margin: 0 0 0 8px;
      text-decoration-color: #31AAE2FF;
      text-underline-offset: 2px;
      color: black;
      font-weight: bolder;
      font-size: 15px;
    }

    .edit-activity {
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 35px;
      border-radius: 10px;
      background-color: #008c19;
      transition: background-color 0.5s;

      &:hover {
        background-color: #3ea453;
      }

      .edit-activity-button {
        text-decoration: none;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 1px;
        text-align: center;
        width: 100%;
        padding-left: 2px;
        font-weight: bold;
      }
    }

  }

  .activity-title {
    font-size: 28px;
    font-weight: bold;
    margin: 15px 0 10px 0;
  }

  .created-day {
    font-size: 14px;
    margin-bottom: 60px;
  }
}

//new.html.erb
.new-activity-container {
  width: 1640px;
  margin: 0 auto;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;

  .activity-title-section {
    width: 100%;
    margin: 12px 0;
    height: 40px;

    .activity-title-input {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      font-size: 20px;
    }
  }

  .activity-top-image-section {
    margin: 8px 0;

    .file_label {
      height: 20px;
    }

    .file_field {
      background-color: white;
      width: 100%;
      border: solid 1px #767676;
      border-radius: 4px;
    }
  }

  .markdown-area {
    width: 100%;
    height: 600px;
    display: flex;

    #article_markdown_content {
      all: unset;
      background-color: white;
      width: 50%;
      padding: 4px 8px;
      border: solid 1px #767676;
      border-radius: 4px 0 0 4px;
      word-wrap: break-word;
    }

    #preview {
      width: 50%;
      padding: 4px 8px;
      background-color: white;
      border: solid 1px #767676;
      border-radius: 0 4px 4px 0;
      overflow-y: auto;
    }
  }
}

@media screen and (max-width: 1640px) {
  .new-activity-container {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .activity-container {
    width: 575px;
    padding: 32px 20px;
  }
}

@media screen and (max-width: 575px) {
  .activities-container {
    width: 97%;
    padding: 0;
    margin: 0 auto;

    .activities-header {
      flex-flow: column;

      .activities-title {
        margin: 10px 0;
      }

      .activity-search-form {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;

        input[type="submit"] {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .activities {
      all: unset;


      .activity-area {
        display: none;
      }

      .activity-area-smartphone {
        display: block;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
        position: relative;
        padding: 20px 10px 10px 10px;
        background-color: white;

        .background-link {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
        }

        .activity-title {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 25px;
          height: 58px;
          font-weight: 900;
        }

        .activity-info {
          display: flex;
          align-items: center;

          .post-day {
            margin: 0;
            font-size: 14px;
            color: #8d8d8d;
          }

          .author-icon {
            width: 32px;
            height: 32px;
            border-radius: 32px;
            margin-left: auto;
            object-fit: cover;
          }

          .author-name {
            margin: 0 0 0 8px;
            z-index: 2;
            text-decoration-color: #31AAE2FF;
            text-underline-offset: 2px;
            color: black;
            font-weight: bolder;
            font-size: 15px;
          }
        }

      }
    }
  }

  //show.html.erb
  .activity-container {
    width: 95%;
    padding: 32px 20px;
    margin-bottom: 100px;
  }
}

.search-form {
  display: flex;
}

.search-form .form-control {
  margin-right: 10px;
}

.read-more {
  margin-top: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.editor-container {
  display: flex;
  gap: 1rem; /* スペースの調整 */
}

.editor, .preview {
  flex: 1;
  border: 1px solid #ddd;
  padding: 1rem;
  height: 100vh; /* 全体の高さを統一 */
  overflow-y: auto; /* スクロールを可能に */
}

.editor {
  background-color: #f8f9fa; /* 編集エリアの背景色 */
}

.preview {
  background-color: #fff; /* プレビューエリアの背景色 */
}

.text-area-large {
  height: 500px; /* 必要に応じて高さを調整 */
}

.markdown {
  word-wrap: break-word; /* テキストの折り返し */
}

.container-activity {
  max-width: 880px;
  margin: 0 auto; /* 中央に配置 */
  padding: 20px;
}

.fixed-height-image {
  max-height: 250px; /* Set the desired height */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Make the image take up the full width of its container */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  justify-self: center;
  border: rounded;
}

.article-header-title > * {
  font-weight: 700 !important;
}

.article-author-container {
  padding: 16px 0
}

.article-author-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 8px;
}

.article-author-profile-image {
  border-radius: 100%;
  object-fit: cover;
  width: 4.5rem;
  height: 4.5rem;
}

.article-header-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.article-editor-button {
  display: flex;
  flex-direction: row;
}

.editor {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.editor-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.article-delete {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: underline;
  cursor: pointer;
}
