//show.html.erb
.member-show-container {
  max-width: 1200px;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 30px;

  .profile-area {
    width: 360px;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;

    .member-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      img {
        height: 80px;
        width: 80px;
        border-radius: 40px;

      }

      .name {
        font-size: 27px;
        font-weight: bold;
        margin: 30px 0;
      }

      .introduction {
        text-align: justify;
      }
    }

    .learning-skills {
      padding: 10px;

      .title {
        font-size: 25px;
        font-weight: bold;
        height: 35px;
        padding-left: 4px;
        border-bottom: solid 1px black;
        text-align: center;
        margin-bottom: 20px;
      }

      .skill-card {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 3px #f0f1fa;
        border-radius: 30px;
        padding: 5px 5px;

        &:last-of-type {
          margin-bottom: 0;
        }

        h4 {
          margin-bottom: 22px;
          font-size: 24px;
          text-align: center;
          background: linear-gradient(transparent 70%, rgba(0, 109, 255, 0.28) 0);
          color: black;
          width: max-content;
        }

        .skills {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          justify-content: center;

          img {
            width: auto;
            height: 72px;
          }
        }
      }
    }
  }

  .my-article-admin-area {
    width: 700px;
    height: 1000px;
    border: solid 1px black;
    background-color: white;
  }
}

//index.html.erb
.members-title {
  margin: 35px auto;
  width: 160px;
  text-align: center;
  font-family: "Fira Sans", serif;
  font-weight: bold;
  font-size: 30px;
}

.members-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;

  .member-card {
    width: 270px;
    height: 370px;
    margin: 20px 3% 40px 3%;
    border: solid 2px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;

    .graduation-year-index {
      margin: 0;
      font-size: 19px;
      width: 58px;
      height: 27px;
      position: absolute;
      text-align: center;
      top: 10px;
      right: 10px;
      border-radius: 25px;
      font-family: system-ui;
    }

    .profile-image {
      width: 150px;
      height: 150px;
      margin-top: 20px;
      border-radius: 75px;
      object-fit: cover;
    }

    .member-name {
      padding: 5px;
      margin-top: 8px;
      font-size: 23px;
      text-decoration: none;
      color: black;
      font-family: system-ui;
      background-image: linear-gradient(to right, #000000 50%, #ffffff 50%);
      background-position: 100% 0;
      background-size: 210% auto;
      transition: .5s;
      font-weight: bold;

      &:hover {
        border-radius: 10px;
        background-position: 0 0;
        color: #ffffff;
      }
    }

    .one-word {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      margin: 6px auto 0;
      width: 192px;
      text-align: justify;
    }
  }
}


.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 30px auto;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.profile-button-danger {
  color: white !important;
  background-color: #332D2D !important;
  border-color: inherit !important;
}

.profile-button-info {
  color: black !important;
  background-color: #0dcaf0 !important;
}

.profile-button-warning {
  color: black !important;
  background-color: #ffc107 !important;
  border-color: inherit !important;
}

.profile-button-dark {
  color: white !important;
  background-color: #332D2D !important;
  border-color: inherit !important;
}

.card-header li {
  display: inline;
}

.card-header a, .card-header button {
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}


.card-body {
  text-align: center;
}

.card-title {
  font-size: 28px;
  margin: 0;
  color: #333;
}

.card-text {
  padding-top: 10px;
  font-size: 16px;
  color: #666;
}

.content {
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin: 10px 0;
}

h5 {
  font-size: 18px;
  margin: 5px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-column {
  flex: 1;
  min-width: 300px;
  margin: 10px;
}

.skills-field {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  text-align: center;
}

.horizontal-scroll-container {
  display: flex; /* 子要素を横並びにする */
  overflow-x: auto; /* 横方向のスクロールを許可 */
  gap: 1rem; /* カード同士の隙間を設定 */
  padding: 1rem 0; /* 上下に少し余白を追加 */
}

.horizontal-scroll-container .card {
  flex: 0 0 auto; /* カードの幅が自動で縮まないように設定 */
}

.horizontal-scroll-container .card img {
  width: 100%; /* カードの幅に合わせて画像の幅を100%に設定 */
  height: 150px; /* 画像の高さを固定 */
  object-fit: cover; /* 画像のはみ出した部分を切り取り、中央部分を表示 */
}

// editページ
.learning-block {
  text-align: left;
  padding-bottom: 25px;
}

// showページ
.learning_field {
  max-width: 100px !important;
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.no-padding-top {
  padding-top: 0px !important;
}

.bordered-div {
  border: 2px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}