.member-view{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member-card{
  width: 270px;
  height: 370px;
  margin: 20px 3% 40px 3%;
  border: solid 2px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}

.graduation-year-index{
  background-color: #D9D9D9;
  margin: 0px;
  font-size: 19px;
  width: 58px;
  height: 27px;
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  border-radius: 25px;
  font-family: system-ui;
}

.profile-image{
  width: 150px;
  height: 150px;
  margin-top: 25px;
  border-radius: 75px;
}

.member-name{
  padding: 5px;
  margin-top: 8px;
  font-size: 23px;
  text-decoration: none;
  color: black;
  font-family: system-ui;
  background-image: linear-gradient(to right, #000000 50%, rgb(255, 255, 255) 50%);
  background-position: 100% 0;
  background-size: 210% auto;
  transition: .5s;
  font-weight: bold;
}

a:hover{
  border-radius: 10px;
  background-position: 0 0;
  color: #ffffff;
}

.one-word{
  width: 230px;
  height: 80px;
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
