<h1>メンバー一覧</h1>
<%= button_to "INCREMENT ALL GRADES", { :controller => "members", :action => "increment_grade"}, class: 'btn btn-danger' %>
<br />
<%= button_to "DECREMENT ALL GRADES", { :controller => "members", :action => "decrement_grade"}, class: 'btn btn-danger' %>
<br />

<% @members.each do |member| %>
    <div class="card mb-3" style="max-width: 540px; height: 120px">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= link_to member.name, member_path(member.id), class: 'link-offset-2 link-underline link-underline-opacity-0' %></h5>
          </div>
        </div>
      </div>
    </div>
<% end %>