<%= title "About" %>

<div class="about-container">
    <section class="anime-object about-nect-life-card">
        <p class="mini-label">About</p>
        <p class="title-1">
            ある大学の
            <span class="highlight">「プログラミングサークル」</span>
            が
            <br>
            運営する<span class="highlight">オリジナルブログ</span>
        </p>
        <section class="about-nect-life-detail">
            <p class="text-content-1">
                Nect Life は、ある大学の「プログラミングサークル」が運営するオリジナルブログです！
                私たちのモットーは「作りたいものを作る！」です。
                プログラミングを中心に、ものづくりを行なっていますが、メンバーにはCG制作をしている人もいるので、プログラミング以外でも大歓迎です！
            </p>
            <p class="text-content-2">
                「ものづくり」を通して学生がつながり合えるサークルを目指し、作品の展示や発信も積極的に行っています。
                そんな日々の活動を記録し、より多くの人に届けるために開発したブログが「<strong>Nect Life</strong>」です！
            </p>
        </section>
    </section>
    <section class="anime-object about-nect-life-card">
        <p class="mini-label">Origin</p>
        <img src="<%= asset_path('no_image.png') %>" class="logo-img">
        <p class="title-1">
            <span class="highlight"><strong>Nect</strong> (nectere:つなぐ、結ぶ)</span>
            <br>
            +
            <br>
            <span class="highlight"><strong>gram</strong> (プログラムの gram) + <strong>s</strong></span>
        
        </p>
        <section class="about-nect-life-detail">
            <p class="text-content-1">
                私たちは別名『<strong>Nectgrams</strong>』として活動しています。
                最初は、大学入学前からプログラミングに触れていた学生が、大学からプログラミングを始める学生をキャッチアップする活動から始まりました。
            </p>
            <p class="text-content-1">
                当時はサークルという文化はありませんでした。
            </p>
            <p class="text-content-1">
                しかし、その活動で繋がったこときっかけにサークルとして活動するようになりました。
                そこから、ただプログラミングを教え合うだけではなく、作ったものをオープンキャンパスに展示するなどして活動の幅を広げてきました！
            </p>
            <p class="text-content-2">
                小さなきっかけから始まった活動は、今では大きな広がりを見せつつあり、今後もさらなる進化を目指していきます！
            </p>
        </section>
    </section>
</div>

<!--<h1 class="d-flex justify-content-center pb-5">Timeline of Nectgrams</h1>-->
<!--<div class="timeline">-->
<%# @event_history.reverse_each do |event_history| %>
<!--        <div class="timeline-item">-->
<!--            <div class="timeline-content">-->
<!--                <h2><%#= event_history.event_title %></h2>-->
<!--                <p><%#= event_history.event_text %></p>-->
<!--                <span class="date"><%#= event_history.date_of_event.strftime("%B %Y") %></span>-->
<!--            </div>-->
<!--        </div>-->
<%# end %>
<!--</div>-->