<%= title "About" %>

<header id="about-header">
    <h1 class="title"><strong>Nect Life</strong> について</h1>
</header>

<div id="about-body">
    <div class="container">
        <p class="text-1"><strong>Nect Life</strong>
            は、ある大学の「<strong>プログラミングサークル</strong>」が運営するオリジナルブログです！
        </p>
        <p class="text-2">私たちは別名『<strong>Nectgrams</strong>』として活動しており、サークル名の由来は</p>
        <p class="text-3"><strong>Nect</strong> (nectere:つなぐ、結ぶ) + <strong>gram</strong> (プログラムの gram) +
            <strong>s</strong>
            (複数形)です。</p>
        <p class="text-4">私たちのモットーは「<strong>作りたいものを作る！</strong>」です。</p>
        <p class="text-5">プログラミングを中心に、ものづくりを行なっていますが、メンバーにはCG制作をしている人もいるので、プログラミング以外でも大歓迎です！</p>
        <p class="text-6">私たちは、学生がつながり合えるサークルを目指し、作品の展示や発信も積極的に行っています。</p>
        <p class="text-7">『<strong>Nect Life</strong>』は、そんな日々の活動を記録し、より多くの人に届けるために開発したブログです。
        </p>
        <p class="text-8">今後もサークルメンバーの日々の活動を投稿し、Nectgramsをさらに盛り上げていきます！</p>
    </div>
</div>

<h1 class="d-flex justify-content-center pb-5">Timeline of Nectgrams</h1>
<div class="timeline">
    <% @event_history.reverse_each do |event_history| %>
        <div class="timeline-item">
            <div class="timeline-content">
                <h2><%= event_history.event_title %></h2>
                <p><%= event_history.event_text %></p>
                <span class="date"><%= event_history.date_of_event.strftime("%B %Y") %></span>
            </div>
        </div>
    <% end %>
</div>